
@font-face {
    font-family: 'RobotoCondensed';
    src: url('./fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('./fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('./fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('./fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
// @font-face {
//     font-family: 'RobotoCondensed';
//     src: url('./fonts/RobotoCondensed-Regular.ttf') format('truetype');
//     font-style: normal;
//     font-weight: 400;
//     text-rendering: optimizeLegibility;
// }
@font-face {
    font-family: 'RobotoCondensed';
    src: url('./fonts/RobotoCondensed-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}   