$white            : #ffffff;
$white2           : #F3F0E5;
$red              : #fd2552;
$pink             : #fb1998;
$blue             : #272525;
$background_grey  : #5C5C5C;
$black            : black;
$yellow           : #F1CC46;
$orage            : #F0CC48;
$gray2            : #202122;
$gray3            : #353535;
$border           : rgba(255, 255, 255, 0.6);


$Rubik: "Rubik", sans-serif;
$RobotoCondensed: sans-serif;