$white            : #ffffff;
$red              : #fd2552;
$pink             : #fb1998;
$blue             : #001d49;
$background_grey  : #f1f1f2;


$RobotoCondensed  : 'RobotoCondensed', sans-serif;


