@import 'helpers/variables';

body {
  font-family: $RobotoCondensed;
 
}
/*Home Section*/
.home{
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  .home_cont{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
  &_img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    object-position: center;
    width: 100%;
    height: 100%;
    // -webkit-mask: -webkit-radial-gradient(0 0,circle  farthest-side, black 90%,rgba(0,0,0,.2) 98%,black 100%);
    // -webkit-mask: -webkit-linear-gradient(left, #ef2678 2%,#ef3f35 100%);
    background-blend-mode: screen;
    // background: -webkit-linear-gradient(left, rgba(239,63,53,0.8) 2%, rgba(239,38,119,0.8) 100%);
    
  }
  &_title{
    font-family: $RobotoCondensed;
    font-size: 90px;
    font-weight: 900;
    line-height: 90px;
    color: $white;
    text-transform: uppercase;
  }
  &_text{
    font-family: $RobotoCondensed;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    color: $white;
  }
  &_scroll{
    position: absolute;
    right: 0px;
    bottom: 70px;
    cursor: pointer;
  }
}

/*Home Section*/
/*Works Section*/
.works{
  display: flex;
  width: 100%;
  position: relative;
  padding: 130px 0;
  &_title{
    font-family: $RobotoCondensed;
    font-size: 104px;
    line-height: 104px;
    font-weight: 900;
    background: -webkit-linear-gradient(left, $pink 2%, $red  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // color: #0B2349;
    display: table;
    margin: 0 0 40px 0;
    text-align: left;
    
  }
  &_text{
    font-family: $RobotoCondensed;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: $pink;
    margin-bottom: 30px;
  }
  &_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    .works_items{
      display: flex;
      flex-direction: column;
      justify-content: center;
      img{
        width: 100%;
        max-width: 170px;
        height: 170px;
        object-fit: contain;
        object-position: center;
      }
      &_steep{
        font-family: $RobotoCondensed;
        font-size: 40px;
        line-height: 40px;
        font-weight: 900;
        color: $blue;
        margin: 35px auto 10px auto;
      }
      &_info{
        font-family: $RobotoCondensed;
        font-size: 14px;
        font-weight: 300;
        color: $blue;
        text-align: center;
      }
    }
  }
}
/*Works Section*/

/*Shoppers Section*/
.shoppers{
  display: flex;
  width: 100%;
  position: relative;
  padding: 170px 0;
  background-color: $blue;
  &_title{
    font-family: $RobotoCondensed;
    font-size: 104px;
    line-height: 104px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 60px;
    background: -webkit-linear-gradient(left, $pink 2%, $red  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &_paragraph{
    font-family: $RobotoCondensed;
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    color: $pink;
    margin-bottom: 25px;
    
  }
  &_list{
    li{
      font-family: $RobotoCondensed;
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
      margin-bottom: 15px;
      color: $white;
      list-style: disc;
    }
  }
}
/*Shoppers Section*/

/*Merchants Section*/
.merchants{
  background-color: $white!important;
  .shoppers_list{
    li{
      color: $blue!important;
      max-width: 370px;
    }
  }
  .shoppers_paragraph{
    max-width: 345px;
  }
}
/*Merchants Section*/


/*About Section*/
.about{
  display: flex;
  width: 100%;
  position: relative;
  padding: 150px 0 140px 0;
  .home_img{
    // width: 70%;
  }
  &_cont{
    position: relative;
    z-index: 999;
    border: 3px solid $white;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 60px 40px;

  }
  &_title{
    font-family: $RobotoCondensed;
    font-size: 104px;
    line-height: 104px;
    font-weight: 900;
    color: $white;
    margin-bottom: 20px;
  }
  &_paragraph{
    font-family: $RobotoCondensed;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: $white;
    margin-top: 35px;
  }
  &:after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // background: -webkit-linear-gradient(-30deg, rgba(251,25,152,0.6) 22%, rgba(253,70,53,0.9) 100%);
  }
}

/*About Section*/
/*Contact Section*/
.contact{
  display: flex;
  width: 100%;
  position: relative;
  padding: 130px 0 90px 0;
  &_title{
    font-family: $RobotoCondensed;
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    text-transform: uppercase;
    background: -webkit-linear-gradient(left, $pink 2%, $red  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }
  &_info{
    font-family: $RobotoCondensed;
    font-size: 18px;
    // line-height: 20px;
    font-weight: 300;
    color: $pink;
    margin-top: 25px;
  }
  form{
    label{
      display: flex;
      flex-direction: column;
      font-family: $RobotoCondensed;
      font-size: 14px;
      line-height: 26px;
      font-weight: 300;
      color: $blue;
      margin-top: 20px;
      input, textarea{
        line-height: 35px;
        background-color: $background_grey;
        padding: 0 10px;
        box-sizing: border-box;
        font-family: $RobotoCondensed;
        font-size: 18px;
        font-weight: 300;
        color: $blue;
        border: none;
      }
      textarea{
        height: auto!important;
        min-height: 90px;
        max-height: 90px;
      }
    }
  }
  &_btn{
    font-family: $RobotoCondensed;
    font-size: 24px;
    line-height: 45px;
    font-weight: 900;
    padding: 0 55px;
    color: $pink;
    text-transform: uppercase;
    border: 3px solid $pink;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: $white;
    cursor: pointer;
    transition: 0.6s all;
    &:hover{
      cursor: pointer;
      background: -webkit-linear-gradient(left, $pink 2%, $red  100%);
      border: 3px solid $white;
      color: $white;
    }
  }
  &_cont_btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
  }
}
/*Contact Section*/
@media (max-width: 980px) {
  .home_img{
    object-fit: cover;
  }
}


@media (max-width: 767px) {
  .burger{
    display: inline-block;
  }
  .home_title, .home_text{
    padding: 0 15px;
    box-sizing: border-box;
  }
  
  .works_item{
    flex-wrap: wrap;
    justify-content: space-around;
    .works_items{
      margin-bottom: 20px;
      min-width: 280px;
      img{
        margin: 0 auto;
      }
    }
  }
  .works_title, .shoppers_title, .about_title{
    font-size: 44px;
    line-height: 44px;
    margin: 0 0 25px 0;
  }
  .works_text{
    margin-bottom: 15px;
  }
  .works, .shoppers, .about, .contact{
    padding: 70px 0;
  }
  .shoppers_list{
    padding-left: 15px;
    box-sizing: border-box;
  }
  .home_scroll{
    width: 40px;
    bottom: 20px;
    right: 0;
    img{
      width: 100%;
    }
  }
}
@media (max-width: 480px) {
  .home_scroll{
    width: 30px;
    bottom: 5px;
    right: 15px;
     
  }
}
