@import 'helpers/variables';

.header {
  background-color: $white;
  padding: 20px 0;
  position: fixed;
  z-index: 99999;
  width: 100%;
  
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .logo{
    width: 266px;
  }
  .nav{
    .nav_link{
      font-family: $RobotoCondensed;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      color: $blue;
      margin-left: 30px;
    }
    .nav_link.active{
      border-bottom: 1px solid $blue;
    }
  }
}
 

/*burger*/
.burger {
  float: right;
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin-top: 9px;
  display: none; }
.burger .burger-menu {
  width: 100%;
  height: 2px;
  // background-color: $blue ;
  background: -webkit-linear-gradient(left, #fb1998 2%, #fd2552 100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  float: right; }
.burger .burger-menu:nth-child(2) {
  width: 75%;
  -webkit-transition-property: margin, height, width;
  -o-transition-property: margin, height, width;
  transition-property: margin, height, width;
  -webkit-transition-delay: 0.3s, 0.3s, 0s;
  -o-transition-delay: 0.3s, 0.3s, 0s;
  transition-delay: 0.3s, 0.3s, 0s;
  margin: 10px 0; }
.burger .burger-menu:last-child {
  width: 50%; }
.burger:hover .burger-menu {
  // background-color: $blue ; 
  background: -webkit-linear-gradient(left, #fb1998 2%, #fd2552 100%);
}
.burger:hover .burger-menu:nth-child(2) {
  width: 100%;
  -webkit-transition-delay: 0.3s, 0.3s, 0s;
  -o-transition-delay: 0.3s, 0.3s, 0s;
  transition-delay: 0.3s, 0.3s, 0s; }
.burger:hover .burger-menu:last-child {
  width: 100%; }
.burger.opened {
  padding-top: 12px; }
.burger.opened .burger-menu {
  float: none; }
.burger.opened .burger-menu:nth-child(1) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  height: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 100%; }
.burger.opened .burger-menu:nth-child(2) {
  opacity: 0;
  height: 0;
  margin: -3px;
  width: 100%; }
.burger.opened .burger-menu:last-child {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 100%; }

/*burger*/

@media (max-width: 767px) {
  .burger{
    display: block;
  }
  .nav{
    display: none;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 110px;
    width: 100%;
    background-color: white;
    .nav_link{
      margin-left: 0px!important;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  .header-color .nav{
    display: flex!important;
  }
}
@media (max-width: 580px) {
  .navigation{
    padding: 0 20px;
    box-sizing: border-box;
    .logo{
      width: 205px;
    }
  }
  .nav{
    top: 90px;
  }
}